body {
    text-align: center;
}

.mainBlock {
    display: none;
}

.container-fluid {
    padding: 2% 15%;
}

.icon {
    width: 60%;
    height: auto;
}

.footer-nav-icon {
    width: 60%;
    height: auto;
}

.resource {
    width: 25px;
    height: 25px;
}

.config {
    text-align: end;
}

.feature-box {
    text-align: center;
    padding: 3%;
}

.footer-box {
    text-align: center;
    padding: 4.5%;
}

#quick-start-icon {
    width: 100;
    height: auto;
}

#resources .container-fluid {
    padding: 3% 7% 2%;
}

.screen-title {
    text-align: center;
}

#select-rotina {
    margin-left: 25%;
}

#secondary-action {
    margin-top: 7%;
}

#bonus-column {
    padding: 7%;
}

#task-column {
    padding: 7%;
}

#recruitment-column-1 {
    padding: 3% 2% 3% 10%;
}

#recruitment-column-2 {
    padding: 3% 10% 3% 2%;
}

#start-column {
    padding: 7%;
}

.centered-button {
    text-align: center;
}

.select-tropas-range {
    margin: auto 10%;
}

.tabela-exercicios {
    max-height: 250px;
    overflow: auto;
    display: flex;
}
.fixed-header {
    position: sticky;
    top: 0; 
    z-index: 1;
    background:#fff;
}

.lack-funds{
    animation-name: lackFunds;
    animation-duration: 1s;
}
@keyframes lackFunds {
    0%   {color: black;}
    25%  {color: red; font-size: 1.2rem;}
    50%  {color: black; font-size: 1rem;}
    75%  {color: red;font-size: 1.2rem;}
    100% {color: black; font-size: 1rem;}
  }
